<p><%= @user.username %> さん、こんにちは。</p>

<p>以下のリンクをクリックしてパスワードをリセットしてください。</p>

<p><a href="<%= @reset_url %>"><%= @reset_url %></a></p>

<p>このリンクの有効期限は <strong>2時間</strong> です。</p>

<p>身に覚えのない場合は、このメールを無視してください。</p>

<p>獺獺銀行</p>
